<!DOCTYPE html>
html(lang="en")
    head
        title &#x9996;&#x9801;
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(href='images/favicon.ico' rel='shortcut icon')
        meta(charset='UTF-8')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        link(rel='stylesheet' href='./css/all.css')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")
        link(href='https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional' rel='stylesheet')
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
    nav.navbar.navbar-expand-lg.navbar-dark.bg-black
        a.navbar-brand(href='/') Workers'
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarText.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='#') Home
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | About Us
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        a.dropdown-item(href="#") Equipments
                        a.dropdown-item(href="#") Trainers
                        a.dropdown-item(href="#") Group Class
                        a.dropdown-item(href="#") Location
                li.nav-item
                    a.nav-link(href="#") News
                li.nav-item
                    a.nav-link(href="#") Shop
                li.nav-item
                    a.nav-link(href="#") Join Us
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Membership
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        a.dropdown-item(href='#') My profile
                        a.dropdown-item(href="#") Information
                        a.dropdown-item(href="#") Invoice
                        .dropdown-divider
                        a.dropdown-item(href='#') Login
                        a.dropdown-item(href='#') Sign up             
    section#start.jumbotron.jumbotron-fluid.d-flex.mb-0
        .container
            h2 JOIN NOW
            p Never too late
            button(type="button").btn.btn-outline-light Get Started
    section#about.container-fluid
        .container
            h1 Workers' Story
            p Know more about us
            button(type="button").btn.btn-outline-light About
    section#news_location
        .container
            .row
                .col-md-3
                    .card(style='width: 100%')
                        .card-body
                            h5.card-title Lates News
                            p.card-text
                                | Some quick example text to build on the card title and make up the bulk of the card's content.
                        ul.list-group.list-group-flush
                            li.list-group-item Cras justo odio
                            li.list-group-item Dapibus ac facilisis in
                            li.list-group-item Vestibulum at eros
                        .card-body
                            a.card-link(href='#') Card link
                            a.card-link(href='#') Another link


                .col-md-9
                    .card(style='width: 100%')
                        img.card-img-top(src='...', alt='...')
                        .card-body
                            h5.card-title Find Workers'
                            p.card-text
                                | Some quick example text to build on the card title and make up the bulk of the card's content.
                        ul.list-group.list-group-flush
                            li.list-group-item Cras justo odio
                            li.list-group-item Dapibus ac facilisis in
                            li.list-group-item Vestibulum at eros
                        .card-body
                            a.card-link(href='#') Card link
                            a.card-link(href='#') Another link
    section#shop    
        .container
            h2 FEATURED MERCH AND WHEY
            button(type="button").btn.btn-outline-light BROWSE THE SHOP 

    footer
        .container.d-flex.row
            .col-md-8
                section#footer_about 
                    a(href="#") About
                    a(href="#") Our Story
                    a(href="#") Equipments
                    a(href="#") Trainers
                    a(href="#") Group Class
                section#footer_more
                    a(href="#") More
                    a(href="#") Shop
                    a(href="#") Location
                    a(href="#") News
                section#footer_mebership
                    a(href="#") 
            .col-md-4
                section#footer_contact
                    h3 email us
                    input(type="email")
                    button(type="button").btn.btn-outline-dark Send
        .container.d-flex.row
            .col-md-4
                h3 Mobile App
                img(src="#", alt="").android
                img(src="#", alt="").ios
            .col-md-4
                a(href="#").fab.fa-facebook-f
                a(href="#").fab.fa-twitter
                a(href="#").fab.fa-instagram
                a(href="#").fab.fa-youtube
            .col-md-4
                a(href="#") Careers
        .container
            p © 2020, Worker' Gym International, LLC. Website design and build by Chiudini
        